In [1]:
def times2(var):
    return var * 2

In [2]:
times2(4)

8

In [3]:
# Map

In [4]:
seq = [1, 2, 3, 4, 5]

In [5]:
map(times2, seq)

In [6]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [7]:
def times2(var): return var * 2

In [8]:
lambda var: var*2

In [9]:
t = lambda var: var *2

In [10]:
t(23
)

46

In [11]:
t(0.7)

1.4

In [12]:
list(map(lambda num: num * 2, seq))

[2, 4, 6, 8, 10]

In [13]:
list(filter(lambda num: num % 2 == 0, seq))

[2, 4]

In [14]:
s = "Hello, my name is Sam"

In [16]:
s.count("a")

2

In [17]:
"x" in [1, 2, 3, 4, 5, "x", "y", "z"]

True

In [18]:
x = [(1, 2), (3, 4), (5, 6)]

In [19]:
x

[(1, 2), (3, 4), (5, 6)]

In [20]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [21]:
for  (a, b) in x:
    print(a)

1
3
5