# DataFrames

In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
np.random.seed(101)

In [8]:
df = pd.DataFrame(randn(5, 4), ["A", "B", "C", "D", "E"], ["W", "X", "Y", "Z"])

In [9]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [10]:
df["W"]

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [11]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [12]:
df[["W", "Z"]]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [13]:
df["new"]

KeyError: 'new'

In [14]:
df["new"] = df["W"] + df["Z"]

In [15]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.992897
B  1.025984 -0.156598 -0.031579  0.649826  1.675810
C  2.154846 -0.610259 -0.755325 -0.346419  1.808428
D  0.147027 -0.479448  0.558769  1.024810  1.171837
E -0.925874  1.862864 -1.133817  0.610478 -0.315396

In [19]:
df.drop("new", axis=1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [20]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.992897
B  1.025984 -0.156598 -0.031579  0.649826  1.675810
C  2.154846 -0.610259 -0.755325 -0.346419  1.808428
D  0.147027 -0.479448  0.558769  1.024810  1.171837
E -0.925874  1.862864 -1.133817  0.610478 -0.315396

In [21]:
df.drop("new", axis=1, inplace=True)

In [22]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [23]:
df.drop("E", axis=0)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810

In [24]:
# Linuas, axis = 0, colunas, axis = 1

In [27]:
df.shape

(5, 4)

In [29]:
df.loc["A"]

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [30]:
df.iloc[2]

W    2.154846
X   -0.610259
Y   -0.755325
Z   -0.346419
Name: C, dtype: float64

In [31]:
df.loc["B", "Y"]

-0.031579143908112575

In [32]:
df.loc[["A", "B"], ["W", "Y"]]

          W         Y
A -0.993263 -1.136645
B  1.025984 -0.031579