# Index Hierarchy

In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
df = pd.DataFrame(randn(6,2), hier_index, ["A", "B"])

In [7]:
df

             A         B
G1 1  0.744819  1.198785
   2 -0.106270 -0.625594
   3  0.294383  0.435275
G2 1 -0.897598  1.020508
   2  0.563537 -1.065646
   3 -0.101778 -1.142405

In [8]:
df.loc["G1"]

          A         B
1  0.744819  1.198785
2 -0.106270 -0.625594
3  0.294383  0.435275

In [9]:
df.loc["G1"].loc[1]["A"]

0.7448187769184469

In [10]:
df.index.names

FrozenList([None, None])

In [11]:
df.index.names = ["Groups", "Num"]

In [12]:
df

                   A         B
Groups Num
G1     1    0.744819  1.198785
       2   -0.106270 -0.625594
       3    0.294383  0.435275
G2     1   -0.897598  1.020508
       2    0.563537 -1.065646
       3   -0.101778 -1.142405

In [15]:
df.xs("G1")

            A         B
Num
1    0.744819  1.198785
2   -0.106270 -0.625594
3    0.294383  0.435275

In [16]:
# cross section
df.xs(1, level="Num")

               A         B
Groups
G1      0.744819  1.198785
G2     -0.897598  1.020508